@import 'colours.scss';

body {
  background-color: black;
  height: 100vh;
  margin: 0;
}

span {
  color: white;
  font-family: 'Hack', sans-serif;
}

input {
  all: unset;
  color: white;
  caret-color: white;
  font-family: 'Hack', sans-serif;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.green {
  color: $green;
}

.blue, a {
  color: $blue;
}
